<!-- <html> -->
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <title>Blog Django </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django </a></h1>
        </div>

        {% for post in posts %} <!--Laço de for usado para mostrar/exibir a lista posts-->
          <div>
            <p> publicado em: {{post.published_date}} </p><!--Os dados de cada item do objeto post está sendo exibido.-->
            <h1><a href="">{{post.title}}</a> </h1>
            <p>{{ post.text|linebreaksbr}}</p><!--O linebreaksbr tem por função passar o texto por um filtro, convertendo quebras de linhas em parágrafos.-->
          </div>

        {% endfor %} <!--Fechamento do laço for-->
    </body>
</html>
