<html>
    <head>
        <title>Blog Django </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django </a></h1>
        </div>

        <div>
            <p>publicado: 23.05.2019, 15:17</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Não há ensino sem pesquisa e pesquisa sem ensino.</p>
            <p> Paulo freire </p>
        </div>

        <div>
            <p>publicado: 23.05.2019, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Há um ditado chinês que diz que, se dois homens vêm andando por uma estrada, cada um carregando um pão, ao se encontrarem, eles trocam os pães; cada um vai embora com um. Porém, se dois homens vêm andando por uma estrada, cada um carregando uma idéia, ao se encontrarem, trocam as idéias; cada um vai embora com duas. Quem sabe, é esse mesmo o sentido do nosso fazer: repartir idéias, para todos terem pão...</p>
            <p>Mario Sergio Cortella</p>
        </div>
    </body>
</html>
